<h1><%= @author.name %></h1>

<p><%= @author.bio %></p>

<ul>
  <li><%= link_to "Edit Author", edit_author_path(@author) %></li>
  <li><%= link_to "Delete Author", author_path(@author), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %></li>
</ul>

<h2>Books</h2>

<ul>
  <% @books.each do |book| %>
    <li>
      <%= link_to book.title, book %>
    </li>
  <% end %>
</ul>

<h2>Add a book:</h2>
<%= render 'books/form' %>

<li><%= link_to "Authors", root_path %></li>
<li><%= link_to "Books", books_path %></li>

